<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
<div class="container">



    <h1>Office Employee Management System</h1>


    <a class="btn btn-primary" href="/view_emp" role="button">View Employee</a>
    <a class="btn btn-primary" href="/add_emp" role="button">Add New Employee</a>
    <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee</a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
            <th scope="col">Bonus</th>
            <th scope="col">Role</th>
            <th scope="col">Phone</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for emp in emps %}
          <tr>
            <th scope="row">{{emp.id}}</th>
            <td>{{emp.first_name}}</td>
            <td>{{emp.last_name}}</td>
            <td>{{emp.depart}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.bonus}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.phone}}</td>
            <td>{{emp.hireDate}}</td>
            <td><a href="dlt_emp/{{emp.id}}">Delete</a></td>
          </tr>
            {% endfor %}
         
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if emps.has_previous %}
          <li class="page-item"><a class="page-link" href="/view_emp/?page={{emps.previous_page_number}}">Previous</a></li>
          {% endif %}
          {% if emps|length > 10 %}
          <li class="page-item"><a class="page-link" href="/view_emp/?page=1">1</a></li>
          <li class="page-item"><a class="page-link" href="/view_emp/?page=2">2</a></li>
          {% endif %}
          {% if emps.has_next %}
          
          <li class="page-item"><a class="page-link" href="/view_emp/?page={{emps.next_page_number}}">Next</a></li>
          {% endif %}

        </ul>
      </nav>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>  
</body>
</html>